[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "*"
twisted = "*"

[dev-packages]
# testing
eth-ape = "*"
pytest = "*"
pytest-mock = "*"
pytest-twisted = "*"
# quality control
pre-commit = "*"
black = "*"
ruff = "*"

[requires]
python_version = "3"
